@import './reset';
@import './var';
html {
    font-size: var(--html-font-size);
}
body {
    color: var(--body-text-color);
    font-size: var(--font-size-small);
    font-family: var(--font-family);
}

.xt {
    &__flex {
        display: flex;
        &__row-1 {
            flex: 1;
        }
        &__row-2 {
            flex: 2;
        }
    }
    &__container {
        width: 1000px;
        margin: 0 auto;
    }
    &__feed {
        &__table {
            width: 100%;
            &__th {
                background-color: var(--header-bg);
                text-align: left;
                padding: var(--quarter-spacing);
                color: white;
                vertical-align: bottom;
            }
            &__td {
                padding: var(--unit-spacing) var(--quarter-spacing);
            }
        }
    }
}