@import './reset';
@import './var';
html {
    font-size: var(--html-font-size);
}
body {
    color: var(--body-text-color);
    font-size: var(--font-size-small);
    font-family: var(--font-family);
}

.xt {
	&__flex {
		display: flex;
		&__row-1 {
			flex: 1;
		}
		&__row-2 {
			flex: 2;
		}
	}
	&__container {
		width: 1000px;
		margin: 0 auto;
	}
	&__feed {
		&__table {
			width: 100%;
			margin-bottom: var(--quarter-spacing);
			&__th {
				background-color: var(--header-bg);
				text-align: left;
				padding: var(--quarter-spacing) var(--half-spacing);
				color: white;
				vertical-align: bottom;
			}
			&__row {
				&:nth-child(odd) {
					background-color: var(--gray-1);
				}
				&:nth-child(even) {
					background-color: var(--gray-2);
				}
			}
			&__td {
				padding:var(--quarter-spacing) var(--half-spacing);
			}
		}
	}
	&__navigation {
		justify-content: flex-end;
		align-items: center;
		padding-top: var(--quarter-spacing);
		padding-bottom: var(--base-spacing);
		&, &__button {
			color: var(--header-bg);
			font-weight: bold;
		}
		&__button {
			background-color: transparent;
			border: 0;
			cursor: pointer;
			&:disabled {
				color: var(--disabled);
			}
			&:hover {
				color: var(--hover-color);
			}
		}
	}
}